.project-card{
    max-width: 350px;
    min-width: 350px;
}
.project-card .card-text{
    max-height: 150px;
    overflow-y: scroll;
}
.tag{
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px 25px 25px 25px;
    background-color: #05bdf6;
    color: white;
}