<div class="container text-center">
  <div class="text-center border mb-5 shadow rounded">
    <div class="jumbotron">
      <div class="atyatxtleft m-3">
        <h2>Contact</h2>
        <p>
          You can contact me on following links :

          <a
            href="mailto:ahmedattyamohamed@outlook.com"
            class="btn btn-sm btn-primary"
            ><b>mail</b>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="list-group shadow">
    <a
      href="https://www.linkedin.com/in/ahmed-attya-5a850aa2"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3 atyatxtblue  no-hover"
    ><i class="fa-brands fa-linkedin fa-2x " > </i>
    <b> Linkedin </b>
    </a>
    <a
      href="https://www.facebook.com/AAttyaM1995"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3 atyatxtblue  no-hover"
    ><i class="fa-brands fa-square-facebook fa-2x " > </i>
    <b> facebook </b>
   
    </a>
    <a
    href="https://github.com/AhmedAtyaMohamed"
    target="_blank"
    class="list-group-item list-group-item-action d-flex gap-3 py-3    "
  ><i class="fa-brands fa-square-github fa-2x " > </i>
  <b> github </b>
 
  </a>
  </div>
</div>
