.carousel-image {
    display: inline-block;
    align-content: center;
    Min-width: 150px;
    Max-width: 100%;
    min-height: 70svh;
    Max-height: 70svh;

}

.modal-body-style {
    Max-height: 100%
}

carousel {
    Max-height: 100%;
    display: block;
    justify-content: center;
    border: 1px dashed black;
}