<div class="container text-center">
    <button  (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>
</div>
<accordion [isAnimated]="true">
    <accordion-group heading="Static Header">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
  </accordion>