<div class="container">
  <div class="row ml-2 p-2  mr-2">
    <div class="col-md col-sm-12 col-lg col-xl shadow border me-3  mb-5">
      <div class="text-center">
        <h2>About Me</h2>
        <img
          src="assets/aattya.jpg"
          alt="my pic"
          width="296"
          height="296"
          class="rounded-circle shadow shadow-lg p-2 mb-3 bg-body-tertiary rounded"
        />
        <div class="p-2 bg-info bg-opacity-10 ">
          <p>
         {{cv.AboutMe}}
          </p>
        </div>
      </div>
    </div>
 
  </div>
</div>
