<div class="container">
  <div class="row">
    <div class="col-md col-sm shadow border m-1 mb-5">
      <div class="text-center">
        <h2>About Me</h2>
        <img
          src="../../assets/aattya.jpg"
          alt="my pic"
          width="256"
          height="256"
          class="rounded-circle shadow shadow-lg p-2 mb-3 bg-body-tertiary rounded"
        />
        <div
          class="p-2 bg-info bg-opacity-10 border border-info border-start-0 rounded-end"
        >
          <p>
            hi, it's me ahmed attya , i work for smartup company as software
            developer since 2022.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md col-sm shadow border m-1 mb-5">
      <div class="text-center">
        <h2>Featured Projects</h2>
      </div>
    </div>
  </div>
</div>
